<section>
  <h1>Välkommen på en workshop om Kod + Imposter syndrom</h1>
  <p>När? 11:e Mars kl 18.00 (vi håller på cirka 40 minuter)</p>
  <p>Var? Online på Zoom. Du får länken när du anmäler dig nedan.</p>
  <img src="/girl-computer.jpg" alt="" />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    max-width: 550px;
    text-align: center;
  }
  h1,
  p {
    font-family: "Montserrat", sans-serif;
  }

  p {
    margin: 5px;
    text-align: center;
  }

  img {
    width: 600px;
    height: 100%;
    object-fit: contain;
    padding-block-start: 20px;

    @media (max-width: 650px) {
      width: 450px;
      transition: width 0.5s ease;
    }

    @media (max-width: 470px) {
      width: 300px;
      transition: width 0.5s ease;
    }
  }
</style>
